.add-review-login{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
}

.add-review-form label{
    font-size: 2rem;
}
