.App{
    background-color: skyblue;
    min-height: 100vh;
}

.App nav{
    background-color: #2196f3;
}

.App nav a{
    color: rgb(255, 255, 255) !important;
}
.App a.navbar-brand{
    font-size: 1.6rem;
    color: white
}
.App a.nav-link{
    position: relative;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    overflow: hidden;
    transition: color 0.3s;
}
.App a.nav-link::after{
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: transform 0.5s;
    
}

.App a.nav-link:hover{
    color: white;
}
.App a.nav-link:hover::after{
    transform: translateX(100%);
}