.edit-review-page{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


 

.edit-review-container{
    background-color: #2196f3;
    padding: 50px 100px;
    border: 1px solid rgb(70, 70, 250);
    color: white;
    box-shadow: 0px 0px 10px 3px rgb(70, 70, 250);
    border-radius: 20px;
}
.edit-review-container label{
    font-size: 2rem; 
}

.edit-review-container input, 
.edit-review-container input:focus{
    font-size: 1.2rem;
    color: #2196f3;
    padding: 10px;
    border: 2px solid rgb(70, 70, 250);
}
